<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="#111828" />
    <meta
      name="description"
      content="Personal website of designer and artist, Anton Peck."
    />
    <meta
      name="subject"
      content="Anton Peck is a Designer, Illustrator, and Front-End Developer, ready and willing to explore new work."
    />
    <meta name="robots" content="index,follow" />
    <!-- All Search Engines -->
    <meta name="googlebot" content="index,follow" />
    <!-- Google Specific -->
    <meta name="google" content="nositelinkssearchbox" />
    <meta name="rating" content="General" />
    <meta name="referrer" content="no-referrer" />
    {# <meta http-equiv="Content-Security-Policy" content="default-src 'self'" /> #}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="dns-prefetch" href="//antonpeck.com" />
    <link rel="preconnect" href="https://antonpeck.com" />
    <link rel="me" href="mailto:anton@antonpeck.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="dist/style.css" />
    <title>Anton Peck - Front-End Web Designer &amp; Illustrator</title>
  </head>

  <body
    class="text-sm text-gray-300 bg-gray-900 font-extralight lg:text-base"
    default-src="self" style="">
    <header
      class="container grid grid-cols-6 gap-10 px-6 mx-auto text-center lg:text-left py-14"
    >
      <div class="col-span-6 lg:col-span-3">
        <h1 class="text-6xl text-blue-300 text-shadow">Anton Peck</h1>
        <h2 class="text-3xl font-normal text-gray-300">
          Designer + Illustrator
        </h2>
      </div>
      <p class="col-span-6 pb-6 text-xl lg:col-span-4 font-extralight">
        I am a Designer (UI, UX, and Graphic Design), Illustrator, and Front-End
        Developer, working with an amazing variety of clients from the comforts
        of my home office (along with the help from an orange-striped kitty
        named&nbsp;Henry&nbsp;🐱).
      </p>
    </header>

    <main class="container grid grid-cols-6 gap-10 px-6 mx-auto mb-8 mb-10">
      <!-- Begin Grid     -->

      <div class="col-span-6 md:col-start-1 md:col-span-2">
        <h3 class="pb-3 text-lg font-light text-blue-300 font-roboto">
          Skills &amp; Capabilities
        </h3>
        <ul class="text-gray-300">
          <li>Wireframe Production, Mood Boards, UI/UX&nbsp;Design</li>
          <li>
            Local Build Systems (NPM, Grunt, Gulp, Sass, Less, Bootstrap,
            Tailwind)
          </li>
          <li>
            Vector Illustration, Traditional Art, Digital Painting, and
            3D&nbsp;Modeling/Rendering
          </li>
          <li>Brand Asset Creation, Logo&nbsp;Design</li>
          <li>Video Editing, Animation, and&nbsp;Publishing</li>
          <li>Front-End Development (HTML, CSS, JS)</li>
        </ul>
      </div>
      <div class="col-span-6 md:col-span-2">
        <h3 class="pb-3 text-lg font-light text-blue-300 font-roboto">
          Software Collection
        </h3>
        <ul class="text-gray-300">
          <li>
            Adobe Creative Suite (Photoshop, Illustrator, Premiere, After
            Effects, Audition, Xd, InDesign)
          </li>
          <li>Google Suite (Docs, Sheets, Slides)</li>
          <li>Substance Painter</li>
          <li>Affinity Designer, Photo</li>
          <li>Unity&nbsp;3D</li>
          <li>Blender&nbsp;3D</li>
          <li>Figma</li>
        </ul>
      </div>
      <div class="col-span-6 md:col-span-2">
        <h3 class="pb-3 text-lg font-light text-blue-300 font-roboto">
          Wisdom Shared
        </h3>
        <ul class="text-gray-300">
          <li>
            Nothing beats a well thought-out content strategy or
            research&nbsp;document.
          </li>
          <li>
            Communication is priceless. Leave no one behind on a
            project&rsquo;s&nbsp;journey.
          </li>
          <li>Be willing to critique, and be open to being&nbsp;critiqued.</li>
          <li>Love your family. Love your team. Love your&nbsp;clients.</li>
          <li>Never stop learning.</li>
        </ul>
      </div>

      <!-- Contact -->

      <!-- UI Work -->

      <div class="col-span-6 col-start-1 md:col-span-4">
        <h3 class="pb-3 text-4xl text-blue-300 font-extralight text-shadow">
          Crafting Interface Designs
        </h3>
        <p class="pb-4 text-xl font-extralight">
          I begin all of my design work with the same model: Ideate, Sketch,
          Wireframe, Design. It's particularly nice when a content strategy can
          be done with the client in tandem.
        </p>
        <p>
          If there is a brand established, then the current logo and colors can
          help establish the mood that will bridge the wireframes with the
          high-fidelity designs. Typically, there will be levels of iteration or
          change until it feels right. Once the designs are complete and
          approved, they can then be handed off to a developer (which is often a
          role I take on as&nbsp;well).
        </p>
        <p>
          My tenure as a designer extends over two decades, along with a great
          deal of growth, styles changes, adjustments in technique, and
          trend-watching (I tend not to follow trends too closely).
        </p>
        <p>
          I have worked with such companies as: White Mountain Research, OneFire
          Media Group&trade;, Caterpillar Inc.&reg;, State Farm&reg; V1.
          Worldwide, DevBright, Inc., and EZnet Services.
        </p>
      </div>

      <div class="col-span-6 md:col-span-2">
        <img
          class="w-full rounded-md shadow-2xl ring-1 ring-opacity-20 ring-yellow-400"
          width="800"
          height="600"
          src="img/cnadma-mock.jpg"
          alt="Collection of designs for a mobile conference application."
        />
      </div>

      <div class="col-span-6 md:col-span-2">
        <img
          class="w-full rounded-md shadow-2xl ring-1 ring-opacity-20 ring-yellow-400"
          width="800"
          height="600"
          src="img/HDTGH-iPad-App.jpg"
          alt="iPad design for a museum app."
        />
      </div>

      <div class="col-span-6 md:col-span-2">
        <img
          class="w-full rounded-md shadow-2xl ring-1 ring-opacity-20 ring-blue-400"
          width="800"
          height="600"
          src="img/V1-infographic.jpg"
          alt="Infographic webpage about different generations."
        />
      </div>

      <div class="col-span-6 md:col-span-2">
        <img
          class="w-full rounded-md shadow-2xl ring-1 ring-opacity-20 ring-blue-400"
          width="800"
          height="600"
          src="img/iprf.jpg"
          alt="IPRF app design"
        />
      </div>

      <div class="col-span-6 md:col-span-2">
        <img
          class="w-full rounded-md shadow-2xl ring-1 ring-opacity-20 ring-blue-400"
          width="800"
          height="600"
          src="img/Sample-Scheduler.jpg"
          alt="Services Homepage"
        />
      </div>

      <div class="col-span-6 md:col-span-2">
        <img
          class="w-full rounded-md shadow-2xl ring-1 ring-opacity-20 ring-blue-400"
          width="800"
          height="600"
          src="img/sched-2.jpg"
          alt="Scheduler Homepage"
        />
      </div>

      <div class="col-span-6 md:col-span-2">
        <img
          class="w-full rounded-md shadow-2xl ring-1 ring-opacity-20 ring-blue-400"
          width="800"
          height="600"
          src="img/sched-3.jpg"
          alt="Pricing Table"
        />
      </div>

      <!-- Logos -->

      <div class="col-span-6 col-start-1 md:col-span-4">
        <h3 class="pb-3 text-4xl text-blue-300 font-extralight text-shadow">
          Constructing Logos
        </h3>
        <p class="pb-4 text-xl font-extralight">
          Companies, products, individual marks, and even podcasts can all
          benefit from an impactful logo to help support the brand. These can
          range from solid typography, to clean lines in Illustrator, something
          a bit more painterly, or even a character.
        </p>
        <p>
          One of the first jobs I ever held was at a custom printing shop, where
          I had the opportunity to clean up logos that would be transferred to
          film. Since then, I've stuck with the same core philosophies: Ensure
          that the art doesn't become muddy at small sizes. If it had text, make
          sure that it's readable at various distances, and start the work in
          b&amp;w, even if it ends up in color (this helps keep the contrast in
          check).
        </p>
      </div>

      <div class="col-span-6 md:col-span-2">
        <img
          class="w-full rounded-md shadow-2xl ring-1 ring-opacity-20 ring-blue-400"
          width="800"
          height="600"
          src="img/EZnet-logos.jpg"
          alt="EZnet"
        />
      </div>

      <div class="col-span-6 md:col-span-2">
        <img
          class="w-full rounded-md shadow-2xl ring-1 ring-opacity-20 ring-blue-400"
          width="800"
          height="600"
          src="img/Avalonstar.jpg"
          alt="Avalonstar"
        />
      </div>

      <div class="col-span-6 md:col-span-2">
        <img
          class="w-full rounded-md shadow-2xl ring-1 ring-opacity-20 ring-blue-400"
          width="800"
          height="600"
          src="img/chaos.jpg"
          alt="Chaos"
        />
      </div>

      <div class="col-span-6 md:col-span-2">
        <img
          class="w-full rounded-md shadow-2xl ring-1 ring-opacity-20 ring-gray-400"
          width="800"
          height="600"
          src="img/catelo.jpg"
          alt="Catelo"
        />
      </div>

      <!-- End Grid -->
    </main>

    <footer class="bg-black bg-opacity-30">
      <div
        class="container grid grid-cols-6 gap-10 px-6 py-8 mx-auto text-center lg:text-left"
      >
        <p class="col-span-6">Made with 🧡 by Anton Peck, 2022</p>
      </div>
    </footer>
  </body>
</html>

